<!DOCTYPE html>
<html>
<head>
  <title>Icofont</title>
  <%= stylesheet_link_tag "icofont/application", media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body class="icofonts-admin">
	<div class="main-cont">
		<div class="main-body">
			
			<div class="main-left">
				<div class="main-inner">
					<%= yield %>
				</div>
			</div>

			<div class="main-right">
				<div class="main-inner">
					<h1 class="main-title"><b>ico</b>font</h1>

					<div class="main-right-controls">
						<button id="icofonts-update-btn">Update</button>
						<p id="icofonts-msg"></p>
					</div>

					<h2>Selected</h2>
					<div id="icofonts-selected"></div>
				</div>
			</div>
		</div>
	</div>

  <%= javascript_include_tag "icofont/application" %>

</body>
</html>
