<div class="icofonts cf" id="icofonts-container">
	<a href="#toggle" class="btn" id="home">
		<i aria-hidden="true" class="icofont-home"></i>
		&nbsp;icon-home
	</a>
	<a href="#toggle" class="btn" id="home-2">
		<i aria-hidden="true" class="icofont-home-2"></i>
		&nbsp;icon-home-2
	</a>
	<a href="#toggle" class="btn" id="home-3">
		<i aria-hidden="true" class="icofont-home-3"></i>
		&nbsp;icon-home-3
	</a>
	<a href="#toggle" class="btn" id="office">
		<i aria-hidden="true" class="icofont-office"></i>
		&nbsp;icon-office
	</a>
	<a href="#toggle" class="btn" id="newspaper">
		<i aria-hidden="true" class="icofont-newspaper"></i>
		&nbsp;icon-newspaper
	</a>
	<a href="#toggle" class="btn" id="pencil">
		<i aria-hidden="true" class="icofont-pencil"></i>
		&nbsp;icon-pencil
	</a>
	<a href="#toggle" class="btn" id="pencil-2">
		<i aria-hidden="true" class="icofont-pencil-2"></i>
		&nbsp;icon-pencil-2
	</a>
	<a href="#toggle" class="btn" id="quill">
		<i aria-hidden="true" class="icofont-quill"></i>
		&nbsp;icon-quill
	</a>
	<a href="#toggle" class="btn" id="pen">
		<i aria-hidden="true" class="icofont-pen"></i>
		&nbsp;icon-pen
	</a>
	<a href="#toggle" class="btn" id="blog">
		<i aria-hidden="true" class="icofont-blog"></i>
		&nbsp;icon-blog
	</a>
	<a href="#toggle" class="btn" id="droplet">
		<i aria-hidden="true" class="icofont-droplet"></i>
		&nbsp;icon-droplet
	</a>
	<a href="#toggle" class="btn" id="paint-format">
		<i aria-hidden="true" class="icofont-paint-format"></i>
		&nbsp;icon-paint-format
	</a>
	<a href="#toggle" class="btn" id="image">
		<i aria-hidden="true" class="icofont-image"></i>
		&nbsp;icon-image
	</a>
	<a href="#toggle" class="btn" id="image-2">
		<i aria-hidden="true" class="icofont-image-2"></i>
		&nbsp;icon-image-2
	</a>
	<a href="#toggle" class="btn" id="images">
		<i aria-hidden="true" class="icofont-images"></i>
		&nbsp;icon-images
	</a>
	<a href="#toggle" class="btn" id="camera">
		<i aria-hidden="true" class="icofont-camera"></i>
		&nbsp;icon-camera
	</a>
	<a href="#toggle" class="btn" id="music">
		<i aria-hidden="true" class="icofont-music"></i>
		&nbsp;icon-music
	</a>
	<a href="#toggle" class="btn" id="headphones">
		<i aria-hidden="true" class="icofont-headphones"></i>
		&nbsp;icon-headphones
	</a>
	<a href="#toggle" class="btn" id="play">
		<i aria-hidden="true" class="icofont-play"></i>
		&nbsp;icon-play
	</a>
	<a href="#toggle" class="btn" id="film">
		<i aria-hidden="true" class="icofont-film"></i>
		&nbsp;icon-film
	</a>
	<a href="#toggle" class="btn" id="camera-2">
		<i aria-hidden="true" class="icofont-camera-2"></i>
		&nbsp;icon-camera-2
	</a>
	<a href="#toggle" class="btn" id="dice">
		<i aria-hidden="true" class="icofont-dice"></i>
		&nbsp;icon-dice
	</a>
	<a href="#toggle" class="btn" id="pacman">
		<i aria-hidden="true" class="icofont-pacman"></i>
		&nbsp;icon-pacman
	</a>
	<a href="#toggle" class="btn" id="spades">
		<i aria-hidden="true" class="icofont-spades"></i>
		&nbsp;icon-spades
	</a>
	<a href="#toggle" class="btn" id="clubs">
		<i aria-hidden="true" class="icofont-clubs"></i>
		&nbsp;icon-clubs
	</a>
	<a href="#toggle" class="btn" id="diamonds">
		<i aria-hidden="true" class="icofont-diamonds"></i>
		&nbsp;icon-diamonds
	</a>
	<a href="#toggle" class="btn" id="pawn">
		<i aria-hidden="true" class="icofont-pawn"></i>
		&nbsp;icon-pawn
	</a>
	<a href="#toggle" class="btn" id="bullhorn">
		<i aria-hidden="true" class="icofont-bullhorn"></i>
		&nbsp;icon-bullhorn
	</a>
	<a href="#toggle" class="btn" id="connection">
		<i aria-hidden="true" class="icofont-connection"></i>
		&nbsp;icon-connection
	</a>
	<a href="#toggle" class="btn" id="podcast">
		<i aria-hidden="true" class="icofont-podcast"></i>
		&nbsp;icon-podcast
	</a>
	<a href="#toggle" class="btn" id="feed">
		<i aria-hidden="true" class="icofont-feed"></i>
		&nbsp;icon-feed
	</a>
	<a href="#toggle" class="btn" id="book">
		<i aria-hidden="true" class="icofont-book"></i>
		&nbsp;icon-book
	</a>
	<a href="#toggle" class="btn" id="books">
		<i aria-hidden="true" class="icofont-books"></i>
		&nbsp;icon-books
	</a>
	<a href="#toggle" class="btn" id="library">
		<i aria-hidden="true" class="icofont-library"></i>
		&nbsp;icon-library
	</a>
	<a href="#toggle" class="btn" id="file">
		<i aria-hidden="true" class="icofont-file"></i>
		&nbsp;icon-file
	</a>
	<a href="#toggle" class="btn" id="profile">
		<i aria-hidden="true" class="icofont-profile"></i>
		&nbsp;icon-profile
	</a>
	<a href="#toggle" class="btn" id="file-2">
		<i aria-hidden="true" class="icofont-file-2"></i>
		&nbsp;icon-file-2
	</a>
	<a href="#toggle" class="btn" id="file-3">
		<i aria-hidden="true" class="icofont-file-3"></i>
		&nbsp;icon-file-3
	</a>
	<a href="#toggle" class="btn" id="file-4">
		<i aria-hidden="true" class="icofont-file-4"></i>
		&nbsp;icon-file-4
	</a>
	<a href="#toggle" class="btn" id="copy">
		<i aria-hidden="true" class="icofont-copy"></i>
		&nbsp;icon-copy
	</a>
	<a href="#toggle" class="btn" id="copy-2">
		<i aria-hidden="true" class="icofont-copy-2"></i>
		&nbsp;icon-copy-2
	</a>
	<a href="#toggle" class="btn" id="copy-3">
		<i aria-hidden="true" class="icofont-copy-3"></i>
		&nbsp;icon-copy-3
	</a>
	<a href="#toggle" class="btn" id="paste">
		<i aria-hidden="true" class="icofont-paste"></i>
		&nbsp;icon-paste
	</a>
	<a href="#toggle" class="btn" id="paste-2">
		<i aria-hidden="true" class="icofont-paste-2"></i>
		&nbsp;icon-paste-2
	</a>
	<a href="#toggle" class="btn" id="paste-3">
		<i aria-hidden="true" class="icofont-paste-3"></i>
		&nbsp;icon-paste-3
	</a>
	<a href="#toggle" class="btn" id="stack">
		<i aria-hidden="true" class="icofont-stack"></i>
		&nbsp;icon-stack
	</a>
	<a href="#toggle" class="btn" id="folder">
		<i aria-hidden="true" class="icofont-folder"></i>
		&nbsp;icon-folder
	</a>
	<a href="#toggle" class="btn" id="folder-open">
		<i aria-hidden="true" class="icofont-folder-open"></i>
		&nbsp;icon-folder-open
	</a>
	<a href="#toggle" class="btn" id="tag">
		<i aria-hidden="true" class="icofont-tag"></i>
		&nbsp;icon-tag
	</a>
	<a href="#toggle" class="btn" id="tags">
		<i aria-hidden="true" class="icofont-tags"></i>
		&nbsp;icon-tags
	</a>
	<a href="#toggle" class="btn" id="barcode">
		<i aria-hidden="true" class="icofont-barcode"></i>
		&nbsp;icon-barcode
	</a>
	<a href="#toggle" class="btn" id="qrcode">
		<i aria-hidden="true" class="icofont-qrcode"></i>
		&nbsp;icon-qrcode
	</a>
	<a href="#toggle" class="btn" id="ticket">
		<i aria-hidden="true" class="icofont-ticket"></i>
		&nbsp;icon-ticket
	</a>
	<a href="#toggle" class="btn" id="cart">
		<i aria-hidden="true" class="icofont-cart"></i>
		&nbsp;icon-cart
	</a>
	<a href="#toggle" class="btn" id="cart-2">
		<i aria-hidden="true" class="icofont-cart-2"></i>
		&nbsp;icon-cart-2
	</a>
	<a href="#toggle" class="btn" id="cart-3">
		<i aria-hidden="true" class="icofont-cart-3"></i>
		&nbsp;icon-cart-3
	</a>
	<a href="#toggle" class="btn" id="coin">
		<i aria-hidden="true" class="icofont-coin"></i>
		&nbsp;icon-coin
	</a>
	<a href="#toggle" class="btn" id="credit">
		<i aria-hidden="true" class="icofont-credit"></i>
		&nbsp;icon-credit
	</a>
	<a href="#toggle" class="btn" id="calculate">
		<i aria-hidden="true" class="icofont-calculate"></i>
		&nbsp;icon-calculate
	</a>
	<a href="#toggle" class="btn" id="support">
		<i aria-hidden="true" class="icofont-support"></i>
		&nbsp;icon-support
	</a>
	<a href="#toggle" class="btn" id="phone">
		<i aria-hidden="true" class="icofont-phone"></i>
		&nbsp;icon-phone
	</a>
	<a href="#toggle" class="btn" id="phone-hang-up">
		<i aria-hidden="true" class="icofont-phone-hang-up"></i>
		&nbsp;icon-phone-hang-up
	</a>
	<a href="#toggle" class="btn" id="address-book">
		<i aria-hidden="true" class="icofont-address-book"></i>
		&nbsp;icon-address-book
	</a>
	<a href="#toggle" class="btn" id="notebook">
		<i aria-hidden="true" class="icofont-notebook"></i>
		&nbsp;icon-notebook
	</a>
	<a href="#toggle" class="btn" id="envelop">
		<i aria-hidden="true" class="icofont-envelop"></i>
		&nbsp;icon-envelop
	</a>
	<a href="#toggle" class="btn" id="pushpin">
		<i aria-hidden="true" class="icofont-pushpin"></i>
		&nbsp;icon-pushpin
	</a>
	<a href="#toggle" class="btn" id="location">
		<i aria-hidden="true" class="icofont-location"></i>
		&nbsp;icon-location
	</a>
	<a href="#toggle" class="btn" id="location-2">
		<i aria-hidden="true" class="icofont-location-2"></i>
		&nbsp;icon-location-2
	</a>
	<a href="#toggle" class="btn" id="compass">
		<i aria-hidden="true" class="icofont-compass"></i>
		&nbsp;icon-compass
	</a>
	<a href="#toggle" class="btn" id="map">
		<i aria-hidden="true" class="icofont-map"></i>
		&nbsp;icon-map
	</a>
	<a href="#toggle" class="btn" id="map-2">
		<i aria-hidden="true" class="icofont-map-2"></i>
		&nbsp;icon-map-2
	</a>
	<a href="#toggle" class="btn" id="history">
		<i aria-hidden="true" class="icofont-history"></i>
		&nbsp;icon-history
	</a>
	<a href="#toggle" class="btn" id="clock">
		<i aria-hidden="true" class="icofont-clock"></i>
		&nbsp;icon-clock
	</a>
	<a href="#toggle" class="btn" id="clock-2">
		<i aria-hidden="true" class="icofont-clock-2"></i>
		&nbsp;icon-clock-2
	</a>
	<a href="#toggle" class="btn" id="alarm">
		<i aria-hidden="true" class="icofont-alarm"></i>
		&nbsp;icon-alarm
	</a>
	<a href="#toggle" class="btn" id="alarm-2">
		<i aria-hidden="true" class="icofont-alarm-2"></i>
		&nbsp;icon-alarm-2
	</a>
	<a href="#toggle" class="btn" id="bell">
		<i aria-hidden="true" class="icofont-bell"></i>
		&nbsp;icon-bell
	</a>
	<a href="#toggle" class="btn" id="stopwatch">
		<i aria-hidden="true" class="icofont-stopwatch"></i>
		&nbsp;icon-stopwatch
	</a>
	<a href="#toggle" class="btn" id="calendar">
		<i aria-hidden="true" class="icofont-calendar"></i>
		&nbsp;icon-calendar
	</a>
	<a href="#toggle" class="btn" id="calendar-2">
		<i aria-hidden="true" class="icofont-calendar-2"></i>
		&nbsp;icon-calendar-2
	</a>
	<a href="#toggle" class="btn" id="print">
		<i aria-hidden="true" class="icofont-print"></i>
		&nbsp;icon-print
	</a>
	<a href="#toggle" class="btn" id="keyboard">
		<i aria-hidden="true" class="icofont-keyboard"></i>
		&nbsp;icon-keyboard
	</a>
	<a href="#toggle" class="btn" id="screen">
		<i aria-hidden="true" class="icofont-screen"></i>
		&nbsp;icon-screen
	</a>
	<a href="#toggle" class="btn" id="laptop">
		<i aria-hidden="true" class="icofont-laptop"></i>
		&nbsp;icon-laptop
	</a>
	<a href="#toggle" class="btn" id="mobile">
		<i aria-hidden="true" class="icofont-mobile"></i>
		&nbsp;icon-mobile
	</a>
	<a href="#toggle" class="btn" id="mobile-2">
		<i aria-hidden="true" class="icofont-mobile-2"></i>
		&nbsp;icon-mobile-2
	</a>
	<a href="#toggle" class="btn" id="tablet">
		<i aria-hidden="true" class="icofont-tablet"></i>
		&nbsp;icon-tablet
	</a>
	<a href="#toggle" class="btn" id="tv">
		<i aria-hidden="true" class="icofont-tv"></i>
		&nbsp;icon-tv
	</a>
	<a href="#toggle" class="btn" id="cabinet">
		<i aria-hidden="true" class="icofont-cabinet"></i>
		&nbsp;icon-cabinet
	</a>
	<a href="#toggle" class="btn" id="drawer">
		<i aria-hidden="true" class="icofont-drawer"></i>
		&nbsp;icon-drawer
	</a>
	<a href="#toggle" class="btn" id="drawer-2">
		<i aria-hidden="true" class="icofont-drawer-2"></i>
		&nbsp;icon-drawer-2
	</a>
	<a href="#toggle" class="btn" id="drawer-3">
		<i aria-hidden="true" class="icofont-drawer-3"></i>
		&nbsp;icon-drawer-3
	</a>
	<a href="#toggle" class="btn" id="box-add">
		<i aria-hidden="true" class="icofont-box-add"></i>
		&nbsp;icon-box-add
	</a>
	<a href="#toggle" class="btn" id="box-remove">
		<i aria-hidden="true" class="icofont-box-remove"></i>
		&nbsp;icon-box-remove
	</a>
	<a href="#toggle" class="btn" id="download">
		<i aria-hidden="true" class="icofont-download"></i>
		&nbsp;icon-download
	</a>
	<a href="#toggle" class="btn" id="upload">
		<i aria-hidden="true" class="icofont-upload"></i>
		&nbsp;icon-upload
	</a>
	<a href="#toggle" class="btn" id="disk">
		<i aria-hidden="true" class="icofont-disk"></i>
		&nbsp;icon-disk
	</a>
	<a href="#toggle" class="btn" id="storage">
		<i aria-hidden="true" class="icofont-storage"></i>
		&nbsp;icon-storage
	</a>
	<a href="#toggle" class="btn" id="undo">
		<i aria-hidden="true" class="icofont-undo"></i>
		&nbsp;icon-undo
	</a>
	<a href="#toggle" class="btn" id="redo">
		<i aria-hidden="true" class="icofont-redo"></i>
		&nbsp;icon-redo
	</a>
	<a href="#toggle" class="btn" id="flip">
		<i aria-hidden="true" class="icofont-flip"></i>
		&nbsp;icon-flip
	</a>
	<a href="#toggle" class="btn" id="flip-2">
		<i aria-hidden="true" class="icofont-flip-2"></i>
		&nbsp;icon-flip-2
	</a>
	<a href="#toggle" class="btn" id="undo-2">
		<i aria-hidden="true" class="icofont-undo-2"></i>
		&nbsp;icon-undo-2
	</a>
	<a href="#toggle" class="btn" id="redo-2">
		<i aria-hidden="true" class="icofont-redo-2"></i>
		&nbsp;icon-redo-2
	</a>
	<a href="#toggle" class="btn" id="forward">
		<i aria-hidden="true" class="icofont-forward"></i>
		&nbsp;icon-forward
	</a>
	<a href="#toggle" class="btn" id="reply">
		<i aria-hidden="true" class="icofont-reply"></i>
		&nbsp;icon-reply
	</a>
	<a href="#toggle" class="btn" id="bubble">
		<i aria-hidden="true" class="icofont-bubble"></i>
		&nbsp;icon-bubble
	</a>
	<a href="#toggle" class="btn" id="bubbles">
		<i aria-hidden="true" class="icofont-bubbles"></i>
		&nbsp;icon-bubbles
	</a>
	<a href="#toggle" class="btn" id="bubbles-2">
		<i aria-hidden="true" class="icofont-bubbles-2"></i>
		&nbsp;icon-bubbles-2
	</a>
	<a href="#toggle" class="btn" id="bubble-2">
		<i aria-hidden="true" class="icofont-bubble-2"></i>
		&nbsp;icon-bubble-2
	</a>
	<a href="#toggle" class="btn" id="bubbles-3">
		<i aria-hidden="true" class="icofont-bubbles-3"></i>
		&nbsp;icon-bubbles-3
	</a>
	<a href="#toggle" class="btn" id="bubbles-4">
		<i aria-hidden="true" class="icofont-bubbles-4"></i>
		&nbsp;icon-bubbles-4
	</a>
	<a href="#toggle" class="btn" id="user">
		<i aria-hidden="true" class="icofont-user"></i>
		&nbsp;icon-user
	</a>
	<a href="#toggle" class="btn" id="users">
		<i aria-hidden="true" class="icofont-users"></i>
		&nbsp;icon-users
	</a>
	<a href="#toggle" class="btn" id="user-2">
		<i aria-hidden="true" class="icofont-user-2"></i>
		&nbsp;icon-user-2
	</a>
	<a href="#toggle" class="btn" id="users-2">
		<i aria-hidden="true" class="icofont-users-2"></i>
		&nbsp;icon-users-2
	</a>
	<a href="#toggle" class="btn" id="user-3">
		<i aria-hidden="true" class="icofont-user-3"></i>
		&nbsp;icon-user-3
	</a>
	<a href="#toggle" class="btn" id="user-4">
		<i aria-hidden="true" class="icofont-user-4"></i>
		&nbsp;icon-user-4
	</a>
	<a href="#toggle" class="btn" id="quotes-left">
		<i aria-hidden="true" class="icofont-quotes-left"></i>
		&nbsp;icon-quotes-left
	</a>
	<a href="#toggle" class="btn" id="busy">
		<i aria-hidden="true" class="icofont-busy"></i>
		&nbsp;icon-busy
	</a>
	<a href="#toggle" class="btn" id="spinner">
		<i aria-hidden="true" class="icofont-spinner"></i>
		&nbsp;icon-spinner
	</a>
	<a href="#toggle" class="btn" id="spinner-2">
		<i aria-hidden="true" class="icofont-spinner-2"></i>
		&nbsp;icon-spinner-2
	</a>
	<a href="#toggle" class="btn" id="spinner-3">
		<i aria-hidden="true" class="icofont-spinner-3"></i>
		&nbsp;icon-spinner-3
	</a>
	<a href="#toggle" class="btn" id="spinner-4">
		<i aria-hidden="true" class="icofont-spinner-4"></i>
		&nbsp;icon-spinner-4
	</a>
	<a href="#toggle" class="btn" id="spinner-5">
		<i aria-hidden="true" class="icofont-spinner-5"></i>
		&nbsp;icon-spinner-5
	</a>
	<a href="#toggle" class="btn" id="spinner-6">
		<i aria-hidden="true" class="icofont-spinner-6"></i>
		&nbsp;icon-spinner-6
	</a>
	<a href="#toggle" class="btn" id="binoculars">
		<i aria-hidden="true" class="icofont-binoculars"></i>
		&nbsp;icon-binoculars
	</a>
	<a href="#toggle" class="btn" id="search">
		<i aria-hidden="true" class="icofont-search"></i>
		&nbsp;icon-search
	</a>
	<a href="#toggle" class="btn" id="zoom-in">
		<i aria-hidden="true" class="icofont-zoom-in"></i>
		&nbsp;icon-zoom-in
	</a>
	<a href="#toggle" class="btn" id="zoom-out">
		<i aria-hidden="true" class="icofont-zoom-out"></i>
		&nbsp;icon-zoom-out
	</a>
	<a href="#toggle" class="btn" id="expand">
		<i aria-hidden="true" class="icofont-expand"></i>
		&nbsp;icon-expand
	</a>
	<a href="#toggle" class="btn" id="contract">
		<i aria-hidden="true" class="icofont-contract"></i>
		&nbsp;icon-contract
	</a>
	<a href="#toggle" class="btn" id="expand-2">
		<i aria-hidden="true" class="icofont-expand-2"></i>
		&nbsp;icon-expand-2
	</a>
	<a href="#toggle" class="btn" id="contract-2">
		<i aria-hidden="true" class="icofont-contract-2"></i>
		&nbsp;icon-contract-2
	</a>
	<a href="#toggle" class="btn" id="key">
		<i aria-hidden="true" class="icofont-key"></i>
		&nbsp;icon-key
	</a>
	<a href="#toggle" class="btn" id="key-2">
		<i aria-hidden="true" class="icofont-key-2"></i>
		&nbsp;icon-key-2
	</a>
	<a href="#toggle" class="btn" id="lock">
		<i aria-hidden="true" class="icofont-lock"></i>
		&nbsp;icon-lock
	</a>
	<a href="#toggle" class="btn" id="lock-2">
		<i aria-hidden="true" class="icofont-lock-2"></i>
		&nbsp;icon-lock-2
	</a>
	<a href="#toggle" class="btn" id="unlocked">
		<i aria-hidden="true" class="icofont-unlocked"></i>
		&nbsp;icon-unlocked
	</a>
	<a href="#toggle" class="btn" id="wrench">
		<i aria-hidden="true" class="icofont-wrench"></i>
		&nbsp;icon-wrench
	</a>
	<a href="#toggle" class="btn" id="settings">
		<i aria-hidden="true" class="icofont-settings"></i>
		&nbsp;icon-settings
	</a>
	<a href="#toggle" class="btn" id="equalizer">
		<i aria-hidden="true" class="icofont-equalizer"></i>
		&nbsp;icon-equalizer
	</a>
	<a href="#toggle" class="btn" id="cog">
		<i aria-hidden="true" class="icofont-cog"></i>
		&nbsp;icon-cog
	</a>
	<a href="#toggle" class="btn" id="cogs">
		<i aria-hidden="true" class="icofont-cogs"></i>
		&nbsp;icon-cogs
	</a>
	<a href="#toggle" class="btn" id="cog-2">
		<i aria-hidden="true" class="icofont-cog-2"></i>
		&nbsp;icon-cog-2
	</a>
	<a href="#toggle" class="btn" id="hammer">
		<i aria-hidden="true" class="icofont-hammer"></i>
		&nbsp;icon-hammer
	</a>
	<a href="#toggle" class="btn" id="wand">
		<i aria-hidden="true" class="icofont-wand"></i>
		&nbsp;icon-wand
	</a>
	<a href="#toggle" class="btn" id="aid">
		<i aria-hidden="true" class="icofont-aid"></i>
		&nbsp;icon-aid
	</a>
	<a href="#toggle" class="btn" id="bug">
		<i aria-hidden="true" class="icofont-bug"></i>
		&nbsp;icon-bug
	</a>
	<a href="#toggle" class="btn" id="pie">
		<i aria-hidden="true" class="icofont-pie"></i>
		&nbsp;icon-pie
	</a>
	<a href="#toggle" class="btn" id="stats">
		<i aria-hidden="true" class="icofont-stats"></i>
		&nbsp;icon-stats
	</a>
	<a href="#toggle" class="btn" id="bars">
		<i aria-hidden="true" class="icofont-bars"></i>
		&nbsp;icon-bars
	</a>
	<a href="#toggle" class="btn" id="bars-2">
		<i aria-hidden="true" class="icofont-bars-2"></i>
		&nbsp;icon-bars-2
	</a>
	<a href="#toggle" class="btn" id="gift">
		<i aria-hidden="true" class="icofont-gift"></i>
		&nbsp;icon-gift
	</a>
	<a href="#toggle" class="btn" id="trophy">
		<i aria-hidden="true" class="icofont-trophy"></i>
		&nbsp;icon-trophy
	</a>
	<a href="#toggle" class="btn" id="glass">
		<i aria-hidden="true" class="icofont-glass"></i>
		&nbsp;icon-glass
	</a>
	<a href="#toggle" class="btn" id="mug">
		<i aria-hidden="true" class="icofont-mug"></i>
		&nbsp;icon-mug
	</a>
	<a href="#toggle" class="btn" id="food">
		<i aria-hidden="true" class="icofont-food"></i>
		&nbsp;icon-food
	</a>
	<a href="#toggle" class="btn" id="leaf">
		<i aria-hidden="true" class="icofont-leaf"></i>
		&nbsp;icon-leaf
	</a>
	<a href="#toggle" class="btn" id="rocket">
		<i aria-hidden="true" class="icofont-rocket"></i>
		&nbsp;icon-rocket
	</a>
	<a href="#toggle" class="btn" id="meter">
		<i aria-hidden="true" class="icofont-meter"></i>
		&nbsp;icon-meter
	</a>
	<a href="#toggle" class="btn" id="meter2">
		<i aria-hidden="true" class="icofont-meter2"></i>
		&nbsp;icon-meter2
	</a>
	<a href="#toggle" class="btn" id="dashboard">
		<i aria-hidden="true" class="icofont-dashboard"></i>
		&nbsp;icon-dashboard
	</a>
	<a href="#toggle" class="btn" id="hammer-2">
		<i aria-hidden="true" class="icofont-hammer-2"></i>
		&nbsp;icon-hammer-2
	</a>
	<a href="#toggle" class="btn" id="fire">
		<i aria-hidden="true" class="icofont-fire"></i>
		&nbsp;icon-fire
	</a>
	<a href="#toggle" class="btn" id="lab">
		<i aria-hidden="true" class="icofont-lab"></i>
		&nbsp;icon-lab
	</a>
	<a href="#toggle" class="btn" id="magnet">
		<i aria-hidden="true" class="icofont-magnet"></i>
		&nbsp;icon-magnet
	</a>
	<a href="#toggle" class="btn" id="remove">
		<i aria-hidden="true" class="icofont-remove"></i>
		&nbsp;icon-remove
	</a>
	<a href="#toggle" class="btn" id="remove-2">
		<i aria-hidden="true" class="icofont-remove-2"></i>
		&nbsp;icon-remove-2
	</a>
	<a href="#toggle" class="btn" id="briefcase">
		<i aria-hidden="true" class="icofont-briefcase"></i>
		&nbsp;icon-briefcase
	</a>
	<a href="#toggle" class="btn" id="airplane">
		<i aria-hidden="true" class="icofont-airplane"></i>
		&nbsp;icon-airplane
	</a>
	<a href="#toggle" class="btn" id="truck">
		<i aria-hidden="true" class="icofont-truck"></i>
		&nbsp;icon-truck
	</a>
	<a href="#toggle" class="btn" id="road">
		<i aria-hidden="true" class="icofont-road"></i>
		&nbsp;icon-road
	</a>
	<a href="#toggle" class="btn" id="accessibility">
		<i aria-hidden="true" class="icofont-accessibility"></i>
		&nbsp;icon-accessibility
	</a>
	<a href="#toggle" class="btn" id="target">
		<i aria-hidden="true" class="icofont-target"></i>
		&nbsp;icon-target
	</a>
	<a href="#toggle" class="btn" id="shield">
		<i aria-hidden="true" class="icofont-shield"></i>
		&nbsp;icon-shield
	</a>
	<a href="#toggle" class="btn" id="lightning">
		<i aria-hidden="true" class="icofont-lightning"></i>
		&nbsp;icon-lightning
	</a>
	<a href="#toggle" class="btn" id="switch">
		<i aria-hidden="true" class="icofont-switch"></i>
		&nbsp;icon-switch
	</a>
	<a href="#toggle" class="btn" id="power-cord">
		<i aria-hidden="true" class="icofont-power-cord"></i>
		&nbsp;icon-power-cord
	</a>
	<a href="#toggle" class="btn" id="signup">
		<i aria-hidden="true" class="icofont-signup"></i>
		&nbsp;icon-signup
	</a>
	<a href="#toggle" class="btn" id="list">
		<i aria-hidden="true" class="icofont-list"></i>
		&nbsp;icon-list
	</a>
	<a href="#toggle" class="btn" id="list-2">
		<i aria-hidden="true" class="icofont-list-2"></i>
		&nbsp;icon-list-2
	</a>
	<a href="#toggle" class="btn" id="numbered-list">
		<i aria-hidden="true" class="icofont-numbered-list"></i>
		&nbsp;icon-numbered-list
	</a>
	<a href="#toggle" class="btn" id="menu">
		<i aria-hidden="true" class="icofont-menu"></i>
		&nbsp;icon-menu
	</a>
	<a href="#toggle" class="btn" id="menu-2">
		<i aria-hidden="true" class="icofont-menu-2"></i>
		&nbsp;icon-menu-2
	</a>
	<a href="#toggle" class="btn" id="tree">
		<i aria-hidden="true" class="icofont-tree"></i>
		&nbsp;icon-tree
	</a>
	<a href="#toggle" class="btn" id="cloud">
		<i aria-hidden="true" class="icofont-cloud"></i>
		&nbsp;icon-cloud
	</a>
	<a href="#toggle" class="btn" id="cloud-download">
		<i aria-hidden="true" class="icofont-cloud-download"></i>
		&nbsp;icon-cloud-download
	</a>
	<a href="#toggle" class="btn" id="cloud-upload">
		<i aria-hidden="true" class="icofont-cloud-upload"></i>
		&nbsp;icon-cloud-upload
	</a>
	<a href="#toggle" class="btn" id="download-2">
		<i aria-hidden="true" class="icofont-download-2"></i>
		&nbsp;icon-download-2
	</a>
	<a href="#toggle" class="btn" id="upload-2">
		<i aria-hidden="true" class="icofont-upload-2"></i>
		&nbsp;icon-upload-2
	</a>
	<a href="#toggle" class="btn" id="download-3">
		<i aria-hidden="true" class="icofont-download-3"></i>
		&nbsp;icon-download-3
	</a>
	<a href="#toggle" class="btn" id="upload-3">
		<i aria-hidden="true" class="icofont-upload-3"></i>
		&nbsp;icon-upload-3
	</a>
	<a href="#toggle" class="btn" id="globe">
		<i aria-hidden="true" class="icofont-globe"></i>
		&nbsp;icon-globe
	</a>
	<a href="#toggle" class="btn" id="earth">
		<i aria-hidden="true" class="icofont-earth"></i>
		&nbsp;icon-earth
	</a>
	<a href="#toggle" class="btn" id="link">
		<i aria-hidden="true" class="icofont-link"></i>
		&nbsp;icon-link
	</a>
	<a href="#toggle" class="btn" id="flag">
		<i aria-hidden="true" class="icofont-flag"></i>
		&nbsp;icon-flag
	</a>
	<a href="#toggle" class="btn" id="attachment">
		<i aria-hidden="true" class="icofont-attachment"></i>
		&nbsp;icon-attachment
	</a>
	<a href="#toggle" class="btn" id="eye">
		<i aria-hidden="true" class="icofont-eye"></i>
		&nbsp;icon-eye
	</a>
	<a href="#toggle" class="btn" id="eye-blocked">
		<i aria-hidden="true" class="icofont-eye-blocked"></i>
		&nbsp;icon-eye-blocked
	</a>
	<a href="#toggle" class="btn" id="eye-2">
		<i aria-hidden="true" class="icofont-eye-2"></i>
		&nbsp;icon-eye-2
	</a>
	<a href="#toggle" class="btn" id="bookmark">
		<i aria-hidden="true" class="icofont-bookmark"></i>
		&nbsp;icon-bookmark
	</a>
	<a href="#toggle" class="btn" id="bookmarks">
		<i aria-hidden="true" class="icofont-bookmarks"></i>
		&nbsp;icon-bookmarks
	</a>
	<a href="#toggle" class="btn" id="brightness-medium">
		<i aria-hidden="true" class="icofont-brightness-medium"></i>
		&nbsp;icon-brightness-medium
	</a>
	<a href="#toggle" class="btn" id="brightness-contrast">
		<i aria-hidden="true" class="icofont-brightness-contrast"></i>
		&nbsp;icon-brightness-contrast
	</a>
	<a href="#toggle" class="btn" id="contrast">
		<i aria-hidden="true" class="icofont-contrast"></i>
		&nbsp;icon-contrast
	</a>
	<a href="#toggle" class="btn" id="star">
		<i aria-hidden="true" class="icofont-star"></i>
		&nbsp;icon-star
	</a>
	<a href="#toggle" class="btn" id="star-2">
		<i aria-hidden="true" class="icofont-star-2"></i>
		&nbsp;icon-star-2
	</a>
	<a href="#toggle" class="btn" id="star-3">
		<i aria-hidden="true" class="icofont-star-3"></i>
		&nbsp;icon-star-3
	</a>
	<a href="#toggle" class="btn" id="heart">
		<i aria-hidden="true" class="icofont-heart"></i>
		&nbsp;icon-heart
	</a>
	<a href="#toggle" class="btn" id="heart-2">
		<i aria-hidden="true" class="icofont-heart-2"></i>
		&nbsp;icon-heart-2
	</a>
	<a href="#toggle" class="btn" id="heart-broken">
		<i aria-hidden="true" class="icofont-heart-broken"></i>
		&nbsp;icon-heart-broken
	</a>
	<a href="#toggle" class="btn" id="thumbs-up">
		<i aria-hidden="true" class="icofont-thumbs-up"></i>
		&nbsp;icon-thumbs-up
	</a>
	<a href="#toggle" class="btn" id="thumbs-up-2">
		<i aria-hidden="true" class="icofont-thumbs-up-2"></i>
		&nbsp;icon-thumbs-up-2
	</a>
	<a href="#toggle" class="btn" id="happy">
		<i aria-hidden="true" class="icofont-happy"></i>
		&nbsp;icon-happy
	</a>
	<a href="#toggle" class="btn" id="happy-2">
		<i aria-hidden="true" class="icofont-happy-2"></i>
		&nbsp;icon-happy-2
	</a>
	<a href="#toggle" class="btn" id="smiley">
		<i aria-hidden="true" class="icofont-smiley"></i>
		&nbsp;icon-smiley
	</a>
	<a href="#toggle" class="btn" id="smiley-2">
		<i aria-hidden="true" class="icofont-smiley-2"></i>
		&nbsp;icon-smiley-2
	</a>
	<a href="#toggle" class="btn" id="tongue">
		<i aria-hidden="true" class="icofont-tongue"></i>
		&nbsp;icon-tongue
	</a>
	<a href="#toggle" class="btn" id="tongue-2">
		<i aria-hidden="true" class="icofont-tongue-2"></i>
		&nbsp;icon-tongue-2
	</a>
	<a href="#toggle" class="btn" id="sad">
		<i aria-hidden="true" class="icofont-sad"></i>
		&nbsp;icon-sad
	</a>
	<a href="#toggle" class="btn" id="sad-2">
		<i aria-hidden="true" class="icofont-sad-2"></i>
		&nbsp;icon-sad-2
	</a>
	<a href="#toggle" class="btn" id="wink">
		<i aria-hidden="true" class="icofont-wink"></i>
		&nbsp;icon-wink
	</a>
	<a href="#toggle" class="btn" id="wink-2">
		<i aria-hidden="true" class="icofont-wink-2"></i>
		&nbsp;icon-wink-2
	</a>
	<a href="#toggle" class="btn" id="grin">
		<i aria-hidden="true" class="icofont-grin"></i>
		&nbsp;icon-grin
	</a>
	<a href="#toggle" class="btn" id="grin-2">
		<i aria-hidden="true" class="icofont-grin-2"></i>
		&nbsp;icon-grin-2
	</a>
	<a href="#toggle" class="btn" id="cool">
		<i aria-hidden="true" class="icofont-cool"></i>
		&nbsp;icon-cool
	</a>
	<a href="#toggle" class="btn" id="cool-2">
		<i aria-hidden="true" class="icofont-cool-2"></i>
		&nbsp;icon-cool-2
	</a>
	<a href="#toggle" class="btn" id="angry">
		<i aria-hidden="true" class="icofont-angry"></i>
		&nbsp;icon-angry
	</a>
	<a href="#toggle" class="btn" id="angry-2">
		<i aria-hidden="true" class="icofont-angry-2"></i>
		&nbsp;icon-angry-2
	</a>
	<a href="#toggle" class="btn" id="evil">
		<i aria-hidden="true" class="icofont-evil"></i>
		&nbsp;icon-evil
	</a>
	<a href="#toggle" class="btn" id="evil-2">
		<i aria-hidden="true" class="icofont-evil-2"></i>
		&nbsp;icon-evil-2
	</a>
	<a href="#toggle" class="btn" id="shocked">
		<i aria-hidden="true" class="icofont-shocked"></i>
		&nbsp;icon-shocked
	</a>
	<a href="#toggle" class="btn" id="shocked-2">
		<i aria-hidden="true" class="icofont-shocked-2"></i>
		&nbsp;icon-shocked-2
	</a>
	<a href="#toggle" class="btn" id="confused">
		<i aria-hidden="true" class="icofont-confused"></i>
		&nbsp;icon-confused
	</a>
	<a href="#toggle" class="btn" id="confused-2">
		<i aria-hidden="true" class="icofont-confused-2"></i>
		&nbsp;icon-confused-2
	</a>
	<a href="#toggle" class="btn" id="neutral">
		<i aria-hidden="true" class="icofont-neutral"></i>
		&nbsp;icon-neutral
	</a>
	<a href="#toggle" class="btn" id="neutral-2">
		<i aria-hidden="true" class="icofont-neutral-2"></i>
		&nbsp;icon-neutral-2
	</a>
	<a href="#toggle" class="btn" id="wondering">
		<i aria-hidden="true" class="icofont-wondering"></i>
		&nbsp;icon-wondering
	</a>
	<a href="#toggle" class="btn" id="wondering-2">
		<i aria-hidden="true" class="icofont-wondering-2"></i>
		&nbsp;icon-wondering-2
	</a>
	<a href="#toggle" class="btn" id="point-up">
		<i aria-hidden="true" class="icofont-point-up"></i>
		&nbsp;icon-point-up
	</a>
	<a href="#toggle" class="btn" id="point-right">
		<i aria-hidden="true" class="icofont-point-right"></i>
		&nbsp;icon-point-right
	</a>
	<a href="#toggle" class="btn" id="point-down">
		<i aria-hidden="true" class="icofont-point-down"></i>
		&nbsp;icon-point-down
	</a>
	<a href="#toggle" class="btn" id="point-left">
		<i aria-hidden="true" class="icofont-point-left"></i>
		&nbsp;icon-point-left
	</a>
	<a href="#toggle" class="btn" id="warning">
		<i aria-hidden="true" class="icofont-warning"></i>
		&nbsp;icon-warning
	</a>
	<a href="#toggle" class="btn" id="notification">
		<i aria-hidden="true" class="icofont-notification"></i>
		&nbsp;icon-notification
	</a>
	<a href="#toggle" class="btn" id="question">
		<i aria-hidden="true" class="icofont-question"></i>
		&nbsp;icon-question
	</a>
	<a href="#toggle" class="btn" id="info">
		<i aria-hidden="true" class="icofont-info"></i>
		&nbsp;icon-info
	</a>
	<a href="#toggle" class="btn" id="info-2">
		<i aria-hidden="true" class="icofont-info-2"></i>
		&nbsp;icon-info-2
	</a>
	<a href="#toggle" class="btn" id="blocked">
		<i aria-hidden="true" class="icofont-blocked"></i>
		&nbsp;icon-blocked
	</a>
	<a href="#toggle" class="btn" id="cancel-circle">
		<i aria-hidden="true" class="icofont-cancel-circle"></i>
		&nbsp;icon-cancel-circle
	</a>
	<a href="#toggle" class="btn" id="checkmark-circle">
		<i aria-hidden="true" class="icofont-checkmark-circle"></i>
		&nbsp;icon-checkmark-circle
	</a>
	<a href="#toggle" class="btn" id="spam">
		<i aria-hidden="true" class="icofont-spam"></i>
		&nbsp;icon-spam
	</a>
	<a href="#toggle" class="btn" id="close">
		<i aria-hidden="true" class="icofont-close"></i>
		&nbsp;icon-close
	</a>
	<a href="#toggle" class="btn" id="checkmark">
		<i aria-hidden="true" class="icofont-checkmark"></i>
		&nbsp;icon-checkmark
	</a>
	<a href="#toggle" class="btn" id="checkmark-2">
		<i aria-hidden="true" class="icofont-checkmark-2"></i>
		&nbsp;icon-checkmark-2
	</a>
	<a href="#toggle" class="btn" id="spell-check">
		<i aria-hidden="true" class="icofont-spell-check"></i>
		&nbsp;icon-spell-check
	</a>
	<a href="#toggle" class="btn" id="minus">
		<i aria-hidden="true" class="icofont-minus"></i>
		&nbsp;icon-minus
	</a>
	<a href="#toggle" class="btn" id="plus">
		<i aria-hidden="true" class="icofont-plus"></i>
		&nbsp;icon-plus
	</a>
	<a href="#toggle" class="btn" id="enter">
		<i aria-hidden="true" class="icofont-enter"></i>
		&nbsp;icon-enter
	</a>
	<a href="#toggle" class="btn" id="exit">
		<i aria-hidden="true" class="icofont-exit"></i>
		&nbsp;icon-exit
	</a>
	<a href="#toggle" class="btn" id="play-2">
		<i aria-hidden="true" class="icofont-play-2"></i>
		&nbsp;icon-play-2
	</a>
	<a href="#toggle" class="btn" id="pause">
		<i aria-hidden="true" class="icofont-pause"></i>
		&nbsp;icon-pause
	</a>
	<a href="#toggle" class="btn" id="stop">
		<i aria-hidden="true" class="icofont-stop"></i>
		&nbsp;icon-stop
	</a>
	<a href="#toggle" class="btn" id="backward">
		<i aria-hidden="true" class="icofont-backward"></i>
		&nbsp;icon-backward
	</a>
	<a href="#toggle" class="btn" id="forward-2">
		<i aria-hidden="true" class="icofont-forward-2"></i>
		&nbsp;icon-forward-2
	</a>
	<a href="#toggle" class="btn" id="play-3">
		<i aria-hidden="true" class="icofont-play-3"></i>
		&nbsp;icon-play-3
	</a>
	<a href="#toggle" class="btn" id="pause-2">
		<i aria-hidden="true" class="icofont-pause-2"></i>
		&nbsp;icon-pause-2
	</a>
	<a href="#toggle" class="btn" id="stop-2">
		<i aria-hidden="true" class="icofont-stop-2"></i>
		&nbsp;icon-stop-2
	</a>
	<a href="#toggle" class="btn" id="backward-2">
		<i aria-hidden="true" class="icofont-backward-2"></i>
		&nbsp;icon-backward-2
	</a>
	<a href="#toggle" class="btn" id="forward-3">
		<i aria-hidden="true" class="icofont-forward-3"></i>
		&nbsp;icon-forward-3
	</a>
	<a href="#toggle" class="btn" id="first">
		<i aria-hidden="true" class="icofont-first"></i>
		&nbsp;icon-first
	</a>
	<a href="#toggle" class="btn" id="last">
		<i aria-hidden="true" class="icofont-last"></i>
		&nbsp;icon-last
	</a>
	<a href="#toggle" class="btn" id="previous">
		<i aria-hidden="true" class="icofont-previous"></i>
		&nbsp;icon-previous
	</a>
	<a href="#toggle" class="btn" id="next">
		<i aria-hidden="true" class="icofont-next"></i>
		&nbsp;icon-next
	</a>
	<a href="#toggle" class="btn" id="eject">
		<i aria-hidden="true" class="icofont-eject"></i>
		&nbsp;icon-eject
	</a>
	<a href="#toggle" class="btn" id="volume-high">
		<i aria-hidden="true" class="icofont-volume-high"></i>
		&nbsp;icon-volume-high
	</a>
	<a href="#toggle" class="btn" id="volume-medium">
		<i aria-hidden="true" class="icofont-volume-medium"></i>
		&nbsp;icon-volume-medium
	</a>
	<a href="#toggle" class="btn" id="volume-low">
		<i aria-hidden="true" class="icofont-volume-low"></i>
		&nbsp;icon-volume-low
	</a>
	<a href="#toggle" class="btn" id="volume-mute">
		<i aria-hidden="true" class="icofont-volume-mute"></i>
		&nbsp;icon-volume-mute
	</a>
	<a href="#toggle" class="btn" id="volume-mute-2">
		<i aria-hidden="true" class="icofont-volume-mute-2"></i>
		&nbsp;icon-volume-mute-2
	</a>
	<a href="#toggle" class="btn" id="volume-increase">
		<i aria-hidden="true" class="icofont-volume-increase"></i>
		&nbsp;icon-volume-increase
	</a>
	<a href="#toggle" class="btn" id="volume-decrease">
		<i aria-hidden="true" class="icofont-volume-decrease"></i>
		&nbsp;icon-volume-decrease
	</a>
	<a href="#toggle" class="btn" id="loop">
		<i aria-hidden="true" class="icofont-loop"></i>
		&nbsp;icon-loop
	</a>
	<a href="#toggle" class="btn" id="loop-2">
		<i aria-hidden="true" class="icofont-loop-2"></i>
		&nbsp;icon-loop-2
	</a>
	<a href="#toggle" class="btn" id="loop-3">
		<i aria-hidden="true" class="icofont-loop-3"></i>
		&nbsp;icon-loop-3
	</a>
	<a href="#toggle" class="btn" id="shuffle">
		<i aria-hidden="true" class="icofont-shuffle"></i>
		&nbsp;icon-shuffle
	</a>
	<a href="#toggle" class="btn" id="arrow-up-left">
		<i aria-hidden="true" class="icofont-arrow-up-left"></i>
		&nbsp;icon-arrow-up-left
	</a>
	<a href="#toggle" class="btn" id="arrow-up">
		<i aria-hidden="true" class="icofont-arrow-up"></i>
		&nbsp;icon-arrow-up
	</a>
	<a href="#toggle" class="btn" id="arrow-up-right">
		<i aria-hidden="true" class="icofont-arrow-up-right"></i>
		&nbsp;icon-arrow-up-right
	</a>
	<a href="#toggle" class="btn" id="arrow-right">
		<i aria-hidden="true" class="icofont-arrow-right"></i>
		&nbsp;icon-arrow-right
	</a>
	<a href="#toggle" class="btn" id="arrow-down-right">
		<i aria-hidden="true" class="icofont-arrow-down-right"></i>
		&nbsp;icon-arrow-down-right
	</a>
	<a href="#toggle" class="btn" id="arrow-down">
		<i aria-hidden="true" class="icofont-arrow-down"></i>
		&nbsp;icon-arrow-down
	</a>
	<a href="#toggle" class="btn" id="arrow-down-left">
		<i aria-hidden="true" class="icofont-arrow-down-left"></i>
		&nbsp;icon-arrow-down-left
	</a>
	<a href="#toggle" class="btn" id="arrow-left">
		<i aria-hidden="true" class="icofont-arrow-left"></i>
		&nbsp;icon-arrow-left
	</a>
	<a href="#toggle" class="btn" id="arrow-up-left-2">
		<i aria-hidden="true" class="icofont-arrow-up-left-2"></i>
		&nbsp;icon-arrow-up-left-2
	</a>
	<a href="#toggle" class="btn" id="arrow-up-2">
		<i aria-hidden="true" class="icofont-arrow-up-2"></i>
		&nbsp;icon-arrow-up-2
	</a>
	<a href="#toggle" class="btn" id="arrow-up-right-2">
		<i aria-hidden="true" class="icofont-arrow-up-right-2"></i>
		&nbsp;icon-arrow-up-right-2
	</a>
	<a href="#toggle" class="btn" id="arrow-right-2">
		<i aria-hidden="true" class="icofont-arrow-right-2"></i>
		&nbsp;icon-arrow-right-2
	</a>
	<a href="#toggle" class="btn" id="arrow-down-right-2">
		<i aria-hidden="true" class="icofont-arrow-down-right-2"></i>
		&nbsp;icon-arrow-down-right-2
	</a>
	<a href="#toggle" class="btn" id="arrow-down-2">
		<i aria-hidden="true" class="icofont-arrow-down-2"></i>
		&nbsp;icon-arrow-down-2
	</a>
	<a href="#toggle" class="btn" id="arrow-down-left-2">
		<i aria-hidden="true" class="icofont-arrow-down-left-2"></i>
		&nbsp;icon-arrow-down-left-2
	</a>
	<a href="#toggle" class="btn" id="arrow-left-2">
		<i aria-hidden="true" class="icofont-arrow-left-2"></i>
		&nbsp;icon-arrow-left-2
	</a>
	<a href="#toggle" class="btn" id="arrow-up-left-3">
		<i aria-hidden="true" class="icofont-arrow-up-left-3"></i>
		&nbsp;icon-arrow-up-left-3
	</a>
	<a href="#toggle" class="btn" id="arrow-up-3">
		<i aria-hidden="true" class="icofont-arrow-up-3"></i>
		&nbsp;icon-arrow-up-3
	</a>
	<a href="#toggle" class="btn" id="arrow-up-right-3">
		<i aria-hidden="true" class="icofont-arrow-up-right-3"></i>
		&nbsp;icon-arrow-up-right-3
	</a>
	<a href="#toggle" class="btn" id="arrow-right-3">
		<i aria-hidden="true" class="icofont-arrow-right-3"></i>
		&nbsp;icon-arrow-right-3
	</a>
	<a href="#toggle" class="btn" id="arrow-down-right-3">
		<i aria-hidden="true" class="icofont-arrow-down-right-3"></i>
		&nbsp;icon-arrow-down-right-3
	</a>
	<a href="#toggle" class="btn" id="arrow-down-3">
		<i aria-hidden="true" class="icofont-arrow-down-3"></i>
		&nbsp;icon-arrow-down-3
	</a>
	<a href="#toggle" class="btn" id="arrow-down-left-3">
		<i aria-hidden="true" class="icofont-arrow-down-left-3"></i>
		&nbsp;icon-arrow-down-left-3
	</a>
	<a href="#toggle" class="btn" id="arrow-left-3">
		<i aria-hidden="true" class="icofont-arrow-left-3"></i>
		&nbsp;icon-arrow-left-3
	</a>
	<a href="#toggle" class="btn" id="tab">
		<i aria-hidden="true" class="icofont-tab"></i>
		&nbsp;icon-tab
	</a>
	<a href="#toggle" class="btn" id="checkbox-checked">
		<i aria-hidden="true" class="icofont-checkbox-checked"></i>
		&nbsp;icon-checkbox-checked
	</a>
	<a href="#toggle" class="btn" id="checkbox-unchecked">
		<i aria-hidden="true" class="icofont-checkbox-unchecked"></i>
		&nbsp;icon-checkbox-unchecked
	</a>
	<a href="#toggle" class="btn" id="checkbox-partial">
		<i aria-hidden="true" class="icofont-checkbox-partial"></i>
		&nbsp;icon-checkbox-partial
	</a>
	<a href="#toggle" class="btn" id="radio-checked">
		<i aria-hidden="true" class="icofont-radio-checked"></i>
		&nbsp;icon-radio-checked
	</a>
	<a href="#toggle" class="btn" id="radio-unchecked">
		<i aria-hidden="true" class="icofont-radio-unchecked"></i>
		&nbsp;icon-radio-unchecked
	</a>
	<a href="#toggle" class="btn" id="crop">
		<i aria-hidden="true" class="icofont-crop"></i>
		&nbsp;icon-crop
	</a>
	<a href="#toggle" class="btn" id="scissors">
		<i aria-hidden="true" class="icofont-scissors"></i>
		&nbsp;icon-scissors
	</a>
	<a href="#toggle" class="btn" id="filter">
		<i aria-hidden="true" class="icofont-filter"></i>
		&nbsp;icon-filter
	</a>
	<a href="#toggle" class="btn" id="filter-2">
		<i aria-hidden="true" class="icofont-filter-2"></i>
		&nbsp;icon-filter-2
	</a>
	<a href="#toggle" class="btn" id="font">
		<i aria-hidden="true" class="icofont-font"></i>
		&nbsp;icon-font
	</a>
	<a href="#toggle" class="btn" id="text-height">
		<i aria-hidden="true" class="icofont-text-height"></i>
		&nbsp;icon-text-height
	</a>
	<a href="#toggle" class="btn" id="text-width">
		<i aria-hidden="true" class="icofont-text-width"></i>
		&nbsp;icon-text-width
	</a>
	<a href="#toggle" class="btn" id="bold">
		<i aria-hidden="true" class="icofont-bold"></i>
		&nbsp;icon-bold
	</a>
	<a href="#toggle" class="btn" id="underline">
		<i aria-hidden="true" class="icofont-underline"></i>
		&nbsp;icon-underline
	</a>
	<a href="#toggle" class="btn" id="italic">
		<i aria-hidden="true" class="icofont-italic"></i>
		&nbsp;icon-italic
	</a>
	<a href="#toggle" class="btn" id="strikethrough">
		<i aria-hidden="true" class="icofont-strikethrough"></i>
		&nbsp;icon-strikethrough
	</a>
	<a href="#toggle" class="btn" id="omega">
		<i aria-hidden="true" class="icofont-omega"></i>
		&nbsp;icon-omega
	</a>
	<a href="#toggle" class="btn" id="sigma">
		<i aria-hidden="true" class="icofont-sigma"></i>
		&nbsp;icon-sigma
	</a>
	<a href="#toggle" class="btn" id="table">
		<i aria-hidden="true" class="icofont-table"></i>
		&nbsp;icon-table
	</a>
	<a href="#toggle" class="btn" id="table-2">
		<i aria-hidden="true" class="icofont-table-2"></i>
		&nbsp;icon-table-2
	</a>
	<a href="#toggle" class="btn" id="insert-template">
		<i aria-hidden="true" class="icofont-insert-template"></i>
		&nbsp;icon-insert-template
	</a>
	<a href="#toggle" class="btn" id="pilcrow">
		<i aria-hidden="true" class="icofont-pilcrow"></i>
		&nbsp;icon-pilcrow
	</a>
	<a href="#toggle" class="btn" id="left-to-right">
		<i aria-hidden="true" class="icofont-left-to-right"></i>
		&nbsp;icon-left-to-right
	</a>
	<a href="#toggle" class="btn" id="right-to-left">
		<i aria-hidden="true" class="icofont-right-to-left"></i>
		&nbsp;icon-right-to-left
	</a>
	<a href="#toggle" class="btn" id="paragraph-left">
		<i aria-hidden="true" class="icofont-paragraph-left"></i>
		&nbsp;icon-paragraph-left
	</a>
	<a href="#toggle" class="btn" id="paragraph-center">
		<i aria-hidden="true" class="icofont-paragraph-center"></i>
		&nbsp;icon-paragraph-center
	</a>
	<a href="#toggle" class="btn" id="paragraph-right">
		<i aria-hidden="true" class="icofont-paragraph-right"></i>
		&nbsp;icon-paragraph-right
	</a>
	<a href="#toggle" class="btn" id="paragraph-justify">
		<i aria-hidden="true" class="icofont-paragraph-justify"></i>
		&nbsp;icon-paragraph-justify
	</a>
	<a href="#toggle" class="btn" id="paragraph-left-2">
		<i aria-hidden="true" class="icofont-paragraph-left-2"></i>
		&nbsp;icon-paragraph-left-2
	</a>
	<a href="#toggle" class="btn" id="paragraph-center-2">
		<i aria-hidden="true" class="icofont-paragraph-center-2"></i>
		&nbsp;icon-paragraph-center-2
	</a>
	<a href="#toggle" class="btn" id="paragraph-right-2">
		<i aria-hidden="true" class="icofont-paragraph-right-2"></i>
		&nbsp;icon-paragraph-right-2
	</a>
	<a href="#toggle" class="btn" id="paragraph-justify-2">
		<i aria-hidden="true" class="icofont-paragraph-justify-2"></i>
		&nbsp;icon-paragraph-justify-2
	</a>
	<a href="#toggle" class="btn" id="indent-increase">
		<i aria-hidden="true" class="icofont-indent-increase"></i>
		&nbsp;icon-indent-increase
	</a>
	<a href="#toggle" class="btn" id="indent-decrease">
		<i aria-hidden="true" class="icofont-indent-decrease"></i>
		&nbsp;icon-indent-decrease
	</a>
	<a href="#toggle" class="btn" id="new-tab">
		<i aria-hidden="true" class="icofont-new-tab"></i>
		&nbsp;icon-new-tab
	</a>
	<a href="#toggle" class="btn" id="embed">
		<i aria-hidden="true" class="icofont-embed"></i>
		&nbsp;icon-embed
	</a>
	<a href="#toggle" class="btn" id="code">
		<i aria-hidden="true" class="icofont-code"></i>
		&nbsp;icon-code
	</a>
	<a href="#toggle" class="btn" id="console">
		<i aria-hidden="true" class="icofont-console"></i>
		&nbsp;icon-console
	</a>
	<a href="#toggle" class="btn" id="share">
		<i aria-hidden="true" class="icofont-share"></i>
		&nbsp;icon-share
	</a>
	<a href="#toggle" class="btn" id="mail">
		<i aria-hidden="true" class="icofont-mail"></i>
		&nbsp;icon-mail
	</a>
	<a href="#toggle" class="btn" id="mail-2">
		<i aria-hidden="true" class="icofont-mail-2"></i>
		&nbsp;icon-mail-2
	</a>
	<a href="#toggle" class="btn" id="mail-3">
		<i aria-hidden="true" class="icofont-mail-3"></i>
		&nbsp;icon-mail-3
	</a>
	<a href="#toggle" class="btn" id="mail-4">
		<i aria-hidden="true" class="icofont-mail-4"></i>
		&nbsp;icon-mail-4
	</a>
	<a href="#toggle" class="btn" id="google">
		<i aria-hidden="true" class="icofont-google"></i>
		&nbsp;icon-google
	</a>
	<a href="#toggle" class="btn" id="google-plus">
		<i aria-hidden="true" class="icofont-google-plus"></i>
		&nbsp;icon-google-plus
	</a>
	<a href="#toggle" class="btn" id="google-plus-2">
		<i aria-hidden="true" class="icofont-google-plus-2"></i>
		&nbsp;icon-google-plus-2
	</a>
	<a href="#toggle" class="btn" id="google-plus-3">
		<i aria-hidden="true" class="icofont-google-plus-3"></i>
		&nbsp;icon-google-plus-3
	</a>
	<a href="#toggle" class="btn" id="google-plus-4">
		<i aria-hidden="true" class="icofont-google-plus-4"></i>
		&nbsp;icon-google-plus-4
	</a>
	<a href="#toggle" class="btn" id="google-drive">
		<i aria-hidden="true" class="icofont-google-drive"></i>
		&nbsp;icon-google-drive
	</a>
	<a href="#toggle" class="btn" id="facebook">
		<i aria-hidden="true" class="icofont-facebook"></i>
		&nbsp;icon-facebook
	</a>
	<a href="#toggle" class="btn" id="facebook-2">
		<i aria-hidden="true" class="icofont-facebook-2"></i>
		&nbsp;icon-facebook-2
	</a>
	<a href="#toggle" class="btn" id="facebook-3">
		<i aria-hidden="true" class="icofont-facebook-3"></i>
		&nbsp;icon-facebook-3
	</a>
	<a href="#toggle" class="btn" id="instagram">
		<i aria-hidden="true" class="icofont-instagram"></i>
		&nbsp;icon-instagram
	</a>
	<a href="#toggle" class="btn" id="twitter">
		<i aria-hidden="true" class="icofont-twitter"></i>
		&nbsp;icon-twitter
	</a>
	<a href="#toggle" class="btn" id="twitter-2">
		<i aria-hidden="true" class="icofont-twitter-2"></i>
		&nbsp;icon-twitter-2
	</a>
	<a href="#toggle" class="btn" id="twitter-3">
		<i aria-hidden="true" class="icofont-twitter-3"></i>
		&nbsp;icon-twitter-3
	</a>
	<a href="#toggle" class="btn" id="feed-2">
		<i aria-hidden="true" class="icofont-feed-2"></i>
		&nbsp;icon-feed-2
	</a>
	<a href="#toggle" class="btn" id="feed-3">
		<i aria-hidden="true" class="icofont-feed-3"></i>
		&nbsp;icon-feed-3
	</a>
	<a href="#toggle" class="btn" id="feed-4">
		<i aria-hidden="true" class="icofont-feed-4"></i>
		&nbsp;icon-feed-4
	</a>
	<a href="#toggle" class="btn" id="youtube">
		<i aria-hidden="true" class="icofont-youtube"></i>
		&nbsp;icon-youtube
	</a>
	<a href="#toggle" class="btn" id="youtube-2">
		<i aria-hidden="true" class="icofont-youtube-2"></i>
		&nbsp;icon-youtube-2
	</a>
	<a href="#toggle" class="btn" id="vimeo">
		<i aria-hidden="true" class="icofont-vimeo"></i>
		&nbsp;icon-vimeo
	</a>
	<a href="#toggle" class="btn" id="vimeo2">
		<i aria-hidden="true" class="icofont-vimeo2"></i>
		&nbsp;icon-vimeo2
	</a>
	<a href="#toggle" class="btn" id="vimeo-2">
		<i aria-hidden="true" class="icofont-vimeo-2"></i>
		&nbsp;icon-vimeo-2
	</a>
	<a href="#toggle" class="btn" id="lanyrd">
		<i aria-hidden="true" class="icofont-lanyrd"></i>
		&nbsp;icon-lanyrd
	</a>
	<a href="#toggle" class="btn" id="flickr">
		<i aria-hidden="true" class="icofont-flickr"></i>
		&nbsp;icon-flickr
	</a>
	<a href="#toggle" class="btn" id="flickr-2">
		<i aria-hidden="true" class="icofont-flickr-2"></i>
		&nbsp;icon-flickr-2
	</a>
	<a href="#toggle" class="btn" id="flickr-3">
		<i aria-hidden="true" class="icofont-flickr-3"></i>
		&nbsp;icon-flickr-3
	</a>
	<a href="#toggle" class="btn" id="flickr-4">
		<i aria-hidden="true" class="icofont-flickr-4"></i>
		&nbsp;icon-flickr-4
	</a>
	<a href="#toggle" class="btn" id="picassa">
		<i aria-hidden="true" class="icofont-picassa"></i>
		&nbsp;icon-picassa
	</a>
	<a href="#toggle" class="btn" id="picassa-2">
		<i aria-hidden="true" class="icofont-picassa-2"></i>
		&nbsp;icon-picassa-2
	</a>
	<a href="#toggle" class="btn" id="dribbble">
		<i aria-hidden="true" class="icofont-dribbble"></i>
		&nbsp;icon-dribbble
	</a>
	<a href="#toggle" class="btn" id="dribbble-2">
		<i aria-hidden="true" class="icofont-dribbble-2"></i>
		&nbsp;icon-dribbble-2
	</a>
	<a href="#toggle" class="btn" id="dribbble-3">
		<i aria-hidden="true" class="icofont-dribbble-3"></i>
		&nbsp;icon-dribbble-3
	</a>
	<a href="#toggle" class="btn" id="forrst">
		<i aria-hidden="true" class="icofont-forrst"></i>
		&nbsp;icon-forrst
	</a>
	<a href="#toggle" class="btn" id="forrst-2">
		<i aria-hidden="true" class="icofont-forrst-2"></i>
		&nbsp;icon-forrst-2
	</a>
	<a href="#toggle" class="btn" id="deviantart">
		<i aria-hidden="true" class="icofont-deviantart"></i>
		&nbsp;icon-deviantart
	</a>
	<a href="#toggle" class="btn" id="deviantart-2">
		<i aria-hidden="true" class="icofont-deviantart-2"></i>
		&nbsp;icon-deviantart-2
	</a>
	<a href="#toggle" class="btn" id="steam">
		<i aria-hidden="true" class="icofont-steam"></i>
		&nbsp;icon-steam
	</a>
	<a href="#toggle" class="btn" id="steam-2">
		<i aria-hidden="true" class="icofont-steam-2"></i>
		&nbsp;icon-steam-2
	</a>
	<a href="#toggle" class="btn" id="github">
		<i aria-hidden="true" class="icofont-github"></i>
		&nbsp;icon-github
	</a>
	<a href="#toggle" class="btn" id="github-2">
		<i aria-hidden="true" class="icofont-github-2"></i>
		&nbsp;icon-github-2
	</a>
	<a href="#toggle" class="btn" id="github-3">
		<i aria-hidden="true" class="icofont-github-3"></i>
		&nbsp;icon-github-3
	</a>
	<a href="#toggle" class="btn" id="github-4">
		<i aria-hidden="true" class="icofont-github-4"></i>
		&nbsp;icon-github-4
	</a>
	<a href="#toggle" class="btn" id="github-5">
		<i aria-hidden="true" class="icofont-github-5"></i>
		&nbsp;icon-github-5
	</a>
	<a href="#toggle" class="btn" id="wordpress">
		<i aria-hidden="true" class="icofont-wordpress"></i>
		&nbsp;icon-wordpress
	</a>
	<a href="#toggle" class="btn" id="wordpress-2">
		<i aria-hidden="true" class="icofont-wordpress-2"></i>
		&nbsp;icon-wordpress-2
	</a>
	<a href="#toggle" class="btn" id="joomla">
		<i aria-hidden="true" class="icofont-joomla"></i>
		&nbsp;icon-joomla
	</a>
	<a href="#toggle" class="btn" id="blogger">
		<i aria-hidden="true" class="icofont-blogger"></i>
		&nbsp;icon-blogger
	</a>
	<a href="#toggle" class="btn" id="blogger-2">
		<i aria-hidden="true" class="icofont-blogger-2"></i>
		&nbsp;icon-blogger-2
	</a>
	<a href="#toggle" class="btn" id="tumblr">
		<i aria-hidden="true" class="icofont-tumblr"></i>
		&nbsp;icon-tumblr
	</a>
	<a href="#toggle" class="btn" id="tumblr-2">
		<i aria-hidden="true" class="icofont-tumblr-2"></i>
		&nbsp;icon-tumblr-2
	</a>
	<a href="#toggle" class="btn" id="yahoo">
		<i aria-hidden="true" class="icofont-yahoo"></i>
		&nbsp;icon-yahoo
	</a>
	<a href="#toggle" class="btn" id="tux">
		<i aria-hidden="true" class="icofont-tux"></i>
		&nbsp;icon-tux
	</a>
	<a href="#toggle" class="btn" id="apple">
		<i aria-hidden="true" class="icofont-apple"></i>
		&nbsp;icon-apple
	</a>
	<a href="#toggle" class="btn" id="finder">
		<i aria-hidden="true" class="icofont-finder"></i>
		&nbsp;icon-finder
	</a>
	<a href="#toggle" class="btn" id="android">
		<i aria-hidden="true" class="icofont-android"></i>
		&nbsp;icon-android
	</a>
	<a href="#toggle" class="btn" id="windows">
		<i aria-hidden="true" class="icofont-windows"></i>
		&nbsp;icon-windows
	</a>
	<a href="#toggle" class="btn" id="windows8">
		<i aria-hidden="true" class="icofont-windows8"></i>
		&nbsp;icon-windows8
	</a>
	<a href="#toggle" class="btn" id="soundcloud">
		<i aria-hidden="true" class="icofont-soundcloud"></i>
		&nbsp;icon-soundcloud
	</a>
	<a href="#toggle" class="btn" id="soundcloud-2">
		<i aria-hidden="true" class="icofont-soundcloud-2"></i>
		&nbsp;icon-soundcloud-2
	</a>
	<a href="#toggle" class="btn" id="skype">
		<i aria-hidden="true" class="icofont-skype"></i>
		&nbsp;icon-skype
	</a>
	<a href="#toggle" class="btn" id="reddit">
		<i aria-hidden="true" class="icofont-reddit"></i>
		&nbsp;icon-reddit
	</a>
	<a href="#toggle" class="btn" id="linkedin">
		<i aria-hidden="true" class="icofont-linkedin"></i>
		&nbsp;icon-linkedin
	</a>
	<a href="#toggle" class="btn" id="lastfm">
		<i aria-hidden="true" class="icofont-lastfm"></i>
		&nbsp;icon-lastfm
	</a>
	<a href="#toggle" class="btn" id="lastfm-2">
		<i aria-hidden="true" class="icofont-lastfm-2"></i>
		&nbsp;icon-lastfm-2
	</a>
	<a href="#toggle" class="btn" id="delicious">
		<i aria-hidden="true" class="icofont-delicious"></i>
		&nbsp;icon-delicious
	</a>
	<a href="#toggle" class="btn" id="stumbleupon">
		<i aria-hidden="true" class="icofont-stumbleupon"></i>
		&nbsp;icon-stumbleupon
	</a>
	<a href="#toggle" class="btn" id="stumbleupon-2">
		<i aria-hidden="true" class="icofont-stumbleupon-2"></i>
		&nbsp;icon-stumbleupon-2
	</a>
	<a href="#toggle" class="btn" id="stackoverflow">
		<i aria-hidden="true" class="icofont-stackoverflow"></i>
		&nbsp;icon-stackoverflow
	</a>
	<a href="#toggle" class="btn" id="pinterest">
		<i aria-hidden="true" class="icofont-pinterest"></i>
		&nbsp;icon-pinterest
	</a>
	<a href="#toggle" class="btn" id="pinterest-2">
		<i aria-hidden="true" class="icofont-pinterest-2"></i>
		&nbsp;icon-pinterest-2
	</a>
	<a href="#toggle" class="btn" id="xing">
		<i aria-hidden="true" class="icofont-xing"></i>
		&nbsp;icon-xing
	</a>
	<a href="#toggle" class="btn" id="xing-2">
		<i aria-hidden="true" class="icofont-xing-2"></i>
		&nbsp;icon-xing-2
	</a>
	<a href="#toggle" class="btn" id="flattr">
		<i aria-hidden="true" class="icofont-flattr"></i>
		&nbsp;icon-flattr
	</a>
	<a href="#toggle" class="btn" id="foursquare">
		<i aria-hidden="true" class="icofont-foursquare"></i>
		&nbsp;icon-foursquare
	</a>
	<a href="#toggle" class="btn" id="foursquare-2">
		<i aria-hidden="true" class="icofont-foursquare-2"></i>
		&nbsp;icon-foursquare-2
	</a>
	<a href="#toggle" class="btn" id="paypal">
		<i aria-hidden="true" class="icofont-paypal"></i>
		&nbsp;icon-paypal
	</a>
	<a href="#toggle" class="btn" id="paypal-2">
		<i aria-hidden="true" class="icofont-paypal-2"></i>
		&nbsp;icon-paypal-2
	</a>
	<a href="#toggle" class="btn" id="paypal-3">
		<i aria-hidden="true" class="icofont-paypal-3"></i>
		&nbsp;icon-paypal-3
	</a>
	<a href="#toggle" class="btn" id="yelp">
		<i aria-hidden="true" class="icofont-yelp"></i>
		&nbsp;icon-yelp
	</a>
	<a href="#toggle" class="btn" id="libreoffice">
		<i aria-hidden="true" class="icofont-libreoffice"></i>
		&nbsp;icon-libreoffice
	</a>
	<a href="#toggle" class="btn" id="file-pdf">
		<i aria-hidden="true" class="icofont-file-pdf"></i>
		&nbsp;icon-file-pdf
	</a>
	<a href="#toggle" class="btn" id="file-openoffice">
		<i aria-hidden="true" class="icofont-file-openoffice"></i>
		&nbsp;icon-file-openoffice
	</a>
	<a href="#toggle" class="btn" id="file-word">
		<i aria-hidden="true" class="icofont-file-word"></i>
		&nbsp;icon-file-word
	</a>
	<a href="#toggle" class="btn" id="file-excel">
		<i aria-hidden="true" class="icofont-file-excel"></i>
		&nbsp;icon-file-excel
	</a>
	<a href="#toggle" class="btn" id="file-zip">
		<i aria-hidden="true" class="icofont-file-zip"></i>
		&nbsp;icon-file-zip
	</a>
	<a href="#toggle" class="btn" id="file-powerpoint">
		<i aria-hidden="true" class="icofont-file-powerpoint"></i>
		&nbsp;icon-file-powerpoint
	</a>
	<a href="#toggle" class="btn" id="file-xml">
		<i aria-hidden="true" class="icofont-file-xml"></i>
		&nbsp;icon-file-xml
	</a>
	<a href="#toggle" class="btn" id="file-css">
		<i aria-hidden="true" class="icofont-file-css"></i>
		&nbsp;icon-file-css
	</a>
	<a href="#toggle" class="btn" id="html5">
		<i aria-hidden="true" class="icofont-html5"></i>
		&nbsp;icon-html5
	</a>
	<a href="#toggle" class="btn" id="html5-2">
		<i aria-hidden="true" class="icofont-html5-2"></i>
		&nbsp;icon-html5-2
	</a>
	<a href="#toggle" class="btn" id="css3">
		<i aria-hidden="true" class="icofont-css3"></i>
		&nbsp;icon-css3
	</a>
	<a href="#toggle" class="btn" id="chrome">
		<i aria-hidden="true" class="icofont-chrome"></i>
		&nbsp;icon-chrome
	</a>
	<a href="#toggle" class="btn" id="firefox">
		<i aria-hidden="true" class="icofont-firefox"></i>
		&nbsp;icon-firefox
	</a>
	<a href="#toggle" class="btn" id="IE">
		<i aria-hidden="true" class="icofont-IE"></i>
		&nbsp;icon-IE
	</a>
	<a href="#toggle" class="btn" id="opera">
		<i aria-hidden="true" class="icofont-opera"></i>
		&nbsp;icon-opera
	</a>
	<a href="#toggle" class="btn" id="safari">
		<i aria-hidden="true" class="icofont-safari"></i>
		&nbsp;icon-safari
	</a>
	<a href="#toggle" class="btn" id="IcoMoon">
		<i aria-hidden="true" class="icofont-IcoMoon"></i>
		&nbsp;icon-IcoMoon
	</a>
</div>