<div class="icofonts cf" id="icofonts-container">

  <a href="#toggle" class="btn" id="accessibility">
    <i aria-hidden="true" class="icofont-accessibility"></i>
    &nbsp;icofont-accessibility
  </a>

  <a href="#toggle" class="btn" id="alarm">
    <i aria-hidden="true" class="icofont-alarm"></i>
    &nbsp;icofont-alarm
  </a>

  <a href="#toggle" class="btn" id="alarm2">
    <i aria-hidden="true" class="icofont-alarm2"></i>
    &nbsp;icofont-alarm2
  </a>

  <a href="#toggle" class="btn" id="android">
    <i aria-hidden="true" class="icofont-android"></i>
    &nbsp;icofont-android
  </a>

</div>